<% if current_user.nil? %>
  <%= button_to "like", class: "btn btn-default btn-sm" %>
  <% else %>
    <% if picture.like_user?(current_user.id)%>
      <%= button_to picture_like_path(likes, picture_id: picture.id), method: :delete, id: "like-button",
        class: "btn btn-default btn-xs", remote: true do %>
          <%= content_tag :span, "#", class: "glyphicon glyphicon-heart" %>
           <span>
            <%= picture.likes_count %>
          </span>
      <% end %>
    <% else %>
      <%= button_to picture_likes_path(picture), id: "like-button", class: "btn btn-default btn-xs",
        remote: true do %>
          <%= content_tag :span, "#", class: "glyphicon glyphicon-heart-empty" %>
            <span>
              <%= picture.likes_count %>
            </span>
        <% end %>
    <% end %>
<% end %>
