<li id="photos-<%= picture.id %>">

<!-- 重要 -->
  <div class="photos">
    <% if picture.user.icon.present? %>
          <%= link_to image_tag(picture.user.icon.url),picture.user %>
    <% end %>
  <span class="user"><%= link_to picture.user.name, picture.user %></span>
  </div>
  <div><%= image_tag picture.image.url if picture.image? %></div>
  <span class="timestamp">
    Posted <%= time_ago_in_words(picture.created_at) %>前
    <% if current_user?(picture.user)%>
    <%= link_to "edit", edit_picture_path(picture.id) %> |
    <%= link_to "delete", picture, method: :delete,data: { confirm: "You sure?" } %>
    <% end %>
  </span>

  <div id="likes_buttons">
    <%= render 'likes/like', {picture: picture, likes: @likes} %>
  </div>

  <div class="comment">
    <span class="content"><%= picture.user.name %>:　　<%= picture.content %></span>
      <div class="comments_area" id="comments_area">
          <!--picture: picture-->
        <%= render 'comments/index', { comments: picture.comments, picture: picture } %>
<!--@pictureとするとインスタンスで送るのかエラーになる-->
      </div>
      <%= render 'comments/form', { comment: @comment, picture: picture } %>
  </div><!--.comment-->


</li>
