<li id="photos-<%= picture.id %>">

<!-- 重要 -->
  <% if picture.user.icon.present? %>
        <%= link_to image_tag(picture.user.icon.url),picture.user %>
  <% end %>
  <span class="user"><%= link_to picture.user.name, picture.user %></span>
  <span class="content"><%= picture.content %></span>
  <div><%= image_tag picture.image.url if picture.image? %></div>
  <span class="timestamp">
    Posted <%= time_ago_in_words(picture.created_at) %>ago.
    <% if current_user?(picture.user)%>
    <%= link_to "edit", edit_picture_path(picture.id) %> |
    <%= link_to "delete", picture, method: :delete,data: { confirm: "You sure?" } %>
    <% end %>
  </span>

  <div id="likes_buttons_<%= picture.id %>">
    <%= render 'likes/like', {picture: picture, like: @likes} %>
  </div>

  <div class="comment">
      <div class="comment_area" id="comment_area">   <!--picture: picture-->
        <%= render 'comments/index', { comments: picture.comments, picture: picture } %>
<!--@pictureとするとインスタンスで送るのかエラーになる-->
        <%= render 'comments/form', { comment: @comment, picture: picture} %>
      </div>
  </div><!--.comment-->


</li>
