<% provide(:title, "一覧") %>
<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>">
    <%= value %>
  </div>
<% end %>
<h1>Pictures</h1>

<table>
    <% @pictures.each do |picture| %>
      <ul>
        <ol><%= image_tag (picture.image) %></ol>
        <ol><%= picture.content %></ol>
        <!-- 時間 -->
        <ol>Posted <%= time_ago_in_words(picture.created_at) %>ago</ol>
        <ol><%= link_to 'Show', picture %> | <%= link_to 'Edit', edit_picture_path(picture) %> |
          <%= link_to 'Destroy', picture, method: :delete, data: { confirm: 'Are you sure?' } %> </ol>
          <br>
      </ul>
    <% end %>
</table>

<br>

<%= link_to 'New Picture', new_picture_path %>
