<% provide(:title, "一覧") %>
<h1>Pictures</h1>
<br>
<%= link_to 'New Picture', new_picture_path %>
<br>
<table>
    <% @pictures.each do |picture| %>
    <div class="content-image">
      <%= image_tag (picture.image) %>
    </div>
    <div class="content-text">
        <%= picture.content %>
    </div>
        <!-- 時間 -->
        <li>Posted <%= time_ago_in_words(picture.created_at) %>ago</li>
        <li><%= link_to 'Show', picture %> | <%= link_to 'Edit', edit_picture_path(picture) %> |
          <%= link_to 'Destroy', picture, method: :delete, data: { confirm: 'Are you sure?' } %> </li>
        <br>
    <% end %>
</table>
