<!DOCTYPE html>
<html>
  <head>
    <title>Home | WeShredd</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!--パーシャルを使用 render 'layout/_header'でheaderのhtmlを呼び込む container外で書いている-->
    <%= render 'layouts/header' %>

    <div class="container">
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>

  </body>
</html>
